.layout .footer .nav.footer-nav > div .nav-link-wrapper .nav-link .nav-link-title {
  font-family: 'Lato-hairline', sans-serif;
  text-transform: uppercase;
}

.layout .header, .layout .header .header-main {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.layout {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 9vh minmax(70vh, auto) 10vh;
  grid-template-areas: 'h h h h h h h' '. c c c c c .' 'f f f f f f f';
}

.layout aside {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  max-height: 100%;
  width: 0;
  top: 0;
  z-index: 1000;
  transition-delay: 400ms;
  transition: all 500ms ease-out;
}

.layout aside div {
  background: #ebeff0;
  color: #003f60;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  padding-top: 8.5vh;
  top: 0;
  transition: all 150ms ease-out;
  width: 40vw;
}

.layout aside.left {
  position: fixed;
  bottom: 0;
  left: 0;
  right: auto;
}

.layout aside.left .left-menu {
  position: absolute;
  left: -40vw;
  height: 100%;
}

.layout aside.right {
  position: fixed;
  bottom: 0;
  left: auto;
  right: 0;
}

.layout aside.right .right-menu {
  position: absolute;
  right: -40vw;
  height: 100%;
}

.layout.left-open .left {
  width: 100%;
}

.layout.left-open .left .left-menu {
  left: 0;
}

.layout.right-open .right {
  width: 100%;
}

.layout.right-open .right .right-menu {
  right: 0;
}

.layout .header {
  position: sticky;
  top: 0;
  bottom: auto;
  background: #003f60;
  grid-area: h;
  width: 100vw;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  z-index: 1100;
}

.layout .header .header-main {
  display: block;
  margin: 0;
  padding: 0;
  width: 80vw;
}

.layout .header .header-main .header-title {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 3px 1px #000000;
}

.layout .header .header-main .header-title .header-title-link {
  color: gainsboro;
  font-family: 'Lato-hairline';
  text-transform: uppercase;
  font-size: 8vmin;
  font-weight: 100;
  text-decoration: none;
}

.layout .header .header-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: visible;
  height: 9vh;
  width: 12vw;
}

.layout .header .header-side svg {
  display: block;
  color: #ebeff0;
  margin: auto;
  padding: 0;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.layout .header .header-side.right {
  margin-right: 2vw;
}

.layout .header .header-side.right div svg {
  font-size: 7vmin;
}

.layout .header .header-side.left {
  margin-left: 2vw;
}

.layout .header .header-side.left div svg {
  font-size: 8vmin;
}

.layout .content {
  grid-area: c;
  padding: 1.45rem 1.225rem;
}

.layout .footer {
  grid-area: f;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: #003f60;
  width: 100%;
}

.layout .footer .nav.footer-nav > div {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.layout .footer .nav.footer-nav > div .nav-link-wrapper {
  border-right: outset 1px #9f9f9f;
  max-width: calc(100vw/5);
  min-width: calc(100vw/5);
  width: 100%;
  height: 100%;
  padding: 1vh auto;
}

.layout .footer .nav.footer-nav > div .nav-link-wrapper .nav-link {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.layout .footer .nav.footer-nav > div .nav-link-wrapper .nav-link .nav-link-icon-wrapper {
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 50px;
}

.layout .footer .nav.footer-nav > div .nav-link-wrapper .nav-link .nav-link-title {
  font-size: 8px;
  color: #ebeff0;
  margin: 0 auto;
  padding: 0;
}

.page.projects .list-codepens {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.page.projects .list-codepens .cp_embed_wrapper {
  margin: 1vh auto;
}
